<div>
   {{!-- <div style="margin-bottom: 10%;">
       <fieldset class="h-conteiner">
           <legend>
               <h1 class="h-title">TAMARA</h1>
           </legend>           
               <h1 class="h-title-2">Acosta</h1>
               <h6 class="h-title-3">REMATES Y<br>MUEBLES CON ESTILO</h6>
       </fieldset>       
   </div> --}}
   <img src="img/encabezado.jpeg" style="width:80%; height: auto; padding: 10%; " alt="">
</div>