<form action="/user/login" method="POST">
    <input type="text" name="user" placeholder="usuario">
    <input type="password" name="password" placeholder="contraseña">
    <input type="submit" value="Iniciar Sesion">
    <label for="remember" class="check-content">
        <span>
            Recordar
        </span>
        <input type="checkbox" name="remember" id="remember">
        <span class="checkmark"></span>
    </label>

</form>