
{{#user_data 'hola'}}



  
  
  {{!-- console.log('sesion')

  let user_text = document.getElementsByName('user-name')
  let btn_logoff = document.getElementsByName('btn-logoff')

  let btn_login = document.getElementsByName('btn-login')
  let btn_singin = document.getElementsByName('btn-singin')

  user_text.innerHTML = {{userText}}
  user_text.style.display = 'inline'
  btn_logoff.style.display = 'inline'
  btn_login.style.display = 'none'
  btn_singin.style.display = 'none' --}}




        {{!-- <li class="login" name='btn-login' style="float: right;">
            <a href="/login">INICIAR SESSION</a>
        </li>
        <li class="sigin" name='btn-singin' style="float: right;">
            <a href="/singin">CREAR CUENTA</a>
        </li>
        <li class="user" name='btn-logoff' style="float: left;">
            <a>CERRAR SESSION</a>
        </li>
        <li class="user" name='user-name' style="float: right;"> --}}