
<form action="/user/singin" method="POST">
    <input type="text" name="user" placeholder="usuario">
    <input type="text" name="first_name" placeholder="nombre">
    <input type="text" name="last_name" placeholder="apellido">
    <input type="email" name="email" placeholder="email">
    <input type="text" name="address" placeholder="dirección">
    <input type="tel" name="phone" placeholder="telefóno">
    <input type="password" name="password" placeholder="contraseña">
    <input type="password" name="pws-confirm" placeholder="confirmar contraseña">
    <input type="submit" value="Crear Usuario">
    <label for="treminos" class="check-content">     
        <span>
            Estoy de acuerdo con los
        </span>
        <span>
            <a href="/terminos-y-condiciones">
                Términos y Condiciones
            </a>
        </span>
        <input type="checkbox" name="treminos" id="treminos">
        <span class="checkmark"></span>
    </label>


</form>

