<div style="padding: 5%;margin-top: 10%;">
   <h3> INFORMACIÓN Y CONDICIONES DEL REMATE:</h3><br>
   <p> 1-Remate en pesos uruguayos.</p><br>
   <p> 2- Comisión 16% i.v.a incluido que debes sumarlo a tu oferta que resulte ganadora</p><br>
   <p> 3- Exhibicion: calle 1424 entre Avenida San Martín y Bulevar Rodríguez Correa pegado a las canchas de fútbol 5. TACUAREMBÓ.</p><br>
   <p> 4-El traslado corre por cuenta del comprador.</p><br>
   <p> 5- Haga todas sus consultas antes de realizar su oferta - su oferta es un compromiso.</p><br>
   <p> 6- Retiro dentro de los 3 días hábiles, se cobrará depósito en caso de no retirar.</p><br>
   <p> 7- Luego de finalizado el remate se comunica por WhatsApp al 098 246 159 en el caso de que desee realizar una transferencia notificando sus datos completos y el nombre del remate</p><br>
   <p> 8-Por favor cumpla con los plazos.</p><br>
</div>