<form action="/user/login" method="POST">
    <input type="text" name="user"  placeholder="usuario">
    <input type="password" name="password"  placeholder="contraseña">
    <input type="checkbox" name="remember" id="remember">
    <span>Recordar</span><input type="submit" value="Iniciar Session">
</form>