<form action="/user/singin" method="POST">
    <input type="text" name="user" placeholder="usuario">
    <input type="text" name="first_name" placeholder="nombre">
    <input type="text" name="last_name" placeholder="apellido">
    <input type="email" name="email" placeholder="email">
    <input type="text" name="address" placeholder="direcci칩n">
    <input type="tel" name="phone" placeholder="telef칩no">
    <input type="password" name="password" placeholder="contrase침a">
    <input type="password" name="pws-confirm" placeholder="confirmar contrase침a">
    <input type="submit" value="Crear Usuario">
</form>

